.footer {
    background-color: #1F1B42;
    margin-top: 60px;
}

.footer--content {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.footer--description {
    text-align: left;
    width: 300px;
}

.footer--icons {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 50%;
}

.footer--links {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    color: #fff;
    gap: 20px;
}

.footer--list {
    display: flex;
    flex-direction: column;
}

.footer--link--title {
    display: block;
    margin: 0 8px;
}

.footer--option {
    display: block;
    padding: 8px;
}

.footer--option:hover {
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 999px) {
    .footer--description {
        width: initial;
    }

    .footer--content {
        flex-direction: column;
    }

    .footer--links {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .footer--list {
        flex-basis: calc(100%/2 - 10px);
    }
}