#checkbox-menu {
    position: absolute;
    opacity: 0;
}
label.close {
    display: none;
    cursor: pointer;
    position: relative;
    height: 22px;
    width: 30px;
}
label.close span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: hsl(0, 100%, 100%);
    transition: 0.25s ease-in-out;
}
label.close span:nth-child(1) {
    top: 0;
}
label.close span:nth-child(2) {
    top: 8px;
}
label.close span:nth-child(3) {
    top: 16px;
}
#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}
#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}


@media only screen and (max-width: 800px) {
    label.close {
        display: block;
    }
    .menu-hamburguer {
        display: block;
    }
    .rl-header {
        justify-content: initial;
        gap: 20px;
    }
}