@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}
.rl-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: white;
}
.rl-header .rl-logo {
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
}
.rl-header ul {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.rl-header ul > li:hover {
    font-weight: bolder;
}
.rl-options {
    display: flex;
    gap: 20px;
}
.rl-login { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}
.rl-login .rl-btn-login {
    border: none;
}
.rl-login .rl-btn-registrar {
    border: white solid 1px;
    border-radius: 20px;
    padding: 5px 7px;
}
.rl-login button {
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.rl-navigation {
    position: fixed;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: transparent;
    backdrop-filter: none;
    color: white;
    overflow-y: auto;
    transition: left 200ms;
}
.rl-navigation .rl-navigation-container {
    background: black;
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 20px 0 0 20px;
    min-height: 100%;
}
.rl-navigation .rl-navigation-container > * {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.rl-navigation .rl-navigation-container > *:not(.open):hover {
    color: black;
    background-color: white;
}
.rl-navigation-menu-close {
    position: absolute;
    top: 0;
    left: 70vw;
    width: 30vw;
    height: 100vh;
    opacity: 1;
    background: hsla(0, 0%, 0%, 0.2);
    display: block;
    transition: opacity 200ms;
}
#checkbox-menu:checked ~ .rl-transparent {
    top: 0;
    left: 0vw;
}
.rl-navigation-login {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 800px) {
    .menu-hamburguer {
        display: block;
    }
    .rl-header {
        justify-content: initial;
        gap: 20px;
    }
    .rl-options {
        display: none;
    }
}